* {
    box-sizing: border-box;
}
.d-flex {
    display: flex;
}
.f-row {
    flex-direction: row;
}
.f-col {
    flex-direction: column;
}
.j-c-s-b {
    justify-content: space-between;
}
.f-shrink-0 {
    flex-shrink: 0;
}
.p-10 {
    padding: 10px;
}



