.square_2 {
    width: 800px;
    height: 800px;
    border: 5px solid;
    margin: 10px;
    background-color: red;
}

.header {
    background-color: darkred;
    margin-bottom: 10px;
    flex: 0 0 200px;
    gap: 10px;
    overflow-x: auto;
}

.header_items {
    background-color: yellow;
    min-width: 225px;
    min-height: 100px;
}

.left-menu {
    background-color: darkred;
    margin-right: 10px;
    overflow-y: auto;
    flex: 0 0 200px;
}

.main {
    max-height: calc(100% - 210px);
    flex: 1 0 auto;
}

.content {
    background-color: blue;
    flex-grow: 1;
}

.left-menu .menu_items {
    min-height: 200px;
    background-color: yellow;
}

.left-menu .menu_items:not(:last-child) {
    margin-bottom: 10px;
}