.square_1 {
    width: 800px;
    height: 800px;
    margin: 10px;
    border: 5px solid;
    background-color: red;
}
.violet_square {
    background-color: violet;
    width: 250px;
    height: 250px;
    margin: 10px;
    border: 1px solid;
    align-items: center;
    justify-content: center;
}
.blue_square {
    background-color: blue;
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 1px solid;
}
.green_square {
    background-color: lime;
    border: 1px solid;
    width: 75px;
    height: 75px;
}
