.square_3 {
    width: 800px;
    height: 800px;
    border: 5px solid;
    margin: 10px;
    background-color: red;
}

.header-1 {
    width: 100%;
    height: 50px;
    background-color: blue;
    margin-bottom: 10px;
}

.main-block {
    background-color: violet;
    border: 1px solid;
    max-height: calc(100% - 125px);
    flex: 1 0 auto;
    overflow-x: auto;
}

.content-1 {
    background-color: lime;
    margin-right: 10px;
    overflow-y: auto;
    flex: 0 0 200px;
}

.left-blocks {
    background-color: red;
    min-height: 110px;
}

div.square_3 .content-1 .left-blocks:not(:last-child) {
    margin-bottom: 10px;
}


.content-2 {
    margin-right: 10px;
    background-color: lime;
    flex-basis: 250px;
    max-height: 500px;
}
.content-3 {
    background-color: lime;
    margin-right: 10px;
    overflow-y: auto;
    flex: 0 0 200px;
}
.right-blocks {
    background-color: red;
    min-height: 110px;
}
div.square_3 .content-3 .right-blocks:not(:last-child) {
    margin-bottom: 10px;
}
.content-4 {
    background-color: lime;
    max-height: 500px;
    flex-basis: 250px;
}